<!DOCTYPE html>
{% load static %}
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Битва за Очко</title>
    <link type="text/css" href="{% static 'battle/css/styles1.css' %}" rel="stylesheet" />
</head>

<body>
    <div class="container">
        {% block mainmenu %}
        <header>
            <div class="logo">
                <a href="{% url 'home' %}"><img src="{% static 'battle/images/logo.png' %}" alt="Битва за Очко" >
            </div>
            <nav>
                <ul>
                    <li><a href="{% url 'home' %}">Главная</a></li>
                    {% for m in menu %}
                    <li><a href="{% url m.slug %}">{{m.name}}</a></li>
                    {% endfor %}

                </ul>
            </nav>
        </header>
        {% endblock mainmenu %}
        {% block content %}
        {% endblock content %}
</body>

</html>