{% extends 'base.html' %}
{% block content %}
<div class="form-container">
    <form class="player-block" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        
        {{ formset.management_form }}
        <div class="forms-wrapper">
            {% for f in formset %}
            <div class="form-item">
                <h2>Игрок №{{ forloop.counter }}</h2>
                <label for="{{ f.id_for_label }}"> {{ f.label }}</label>{{ f }}
                <div class="error"> {{ f.errors }}</div>
            </div>
            {% endfor %}
            <div> {{ form.non_field_errors }}</div>
        </div>
        <p><button>Отправить </button></p>
    </form>
</div>



{% endblock %}